.container{
    z-index:+1;
    background-color:#E8B86D;
    width: 100vw;
    height:90px;
    position: fixed;
    text-align: center;
    font-size:30px;
    padding-top:20px ;
    font-family: sans-serif;
    font-weight: bold; 

}

.main{
    position: relative;
    z-index:-1px;
   
}

.img{
    position: absolute;
    top:120px;
    
    
}

img{
     width:300px;
     height:180px;
}

.img2{
    position: absolute;
    left:1210px;
    top:120px;
   
}

.img3{
    position:absolute ;
    top:320px;
}

.img4{
    position: absolute;
    left:1210px;
    top:320px;
}
.img5 img{
    position: absolute;
    top:450px;
    width: 450px;
    height: 300px;
    left: 36%;
    border: 2px solid black;
    border-radius: 10px;
}

.img6{

    position: absolute;
    top:600px;
    
}

.img7{
    
    position: absolute;
    left:1210px;
    top:600px;
}

.img8{
    position:absolute;
    top:800px;
}

.img9{

    position: absolute;
    top:800px;
    left:1210px;

}
.img10{
    position: absolute;
    top:200px;
}
.img11{
    position: absolute;
    right:1210px;
}
